body{
    background-color: #090A0E;
}
.itemContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #090A0E;
}
.detailImg{
    width: 20%;
}
.text{
    color: black;
    font-size: 3rem;
}
.genreList{
    list-style: none;
    color: white;
    font-size: 20px;
    margin-right: 30px;
}
.genreList::before{
    content: "";
    height: 100%;
    border: solid 1px crimson;
    margin-right: 20px;
}
.list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.rating{
text-align: center;
display: flex;
justify-content: flex-start;
align-items: center;
}
.ratingTitle{
    color: crimson;
    font-size: 26px;
}
.backArrow{
    color: crimson;
}
.backArrow:hover{
    color: rgb(243, 122, 146);
}
