* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.Main {
  height: 100vh;
  /* background-color: black; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
/* .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100%;
  background-color: brown;
  position: relative;
} */
.movieContainer {
  padding: 50px;
  background-color: #090a0e;
  overflow-x: hidden;
}
.title {
  color: aliceblue;
  margin-top: 20px;
  font-weight: lighter;
  font-size: 30px;
}
.line {
  background-color: #ff0044;
  width: 7%;
  height: 5px;
  margin: auto;
  margin-top: 20px;
}
.pageTitle {
  font-size: 52px;
}
.movieHeader {
  background-image: linear-gradient(
      to bottom,
      rgba(27, 27, 29, 0.24),
      rgba(26, 23, 25, 0.73)
    ),
    url("../src/Images/spiderman.jpg");
  height: 100vh;
  background-position: bottom center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.movieSectionContent {
  margin-left: 50px;
  width: 30%;
}
.movieSectionContent button {
  padding: 15px 15px;
  margin-top: 30px;
}
.playBttn {
  width: 100%;
}
.icon {
  width: 100%;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: #090a0e;
}

::-webkit-scrollbar-thumb {
  background: #ff0044;
  border-radius: 20px;
}
.display-6 {
  font-size: 6rem;
}
.headerTitle {
  font-size: 6rem;
}
.rating {
  font-size: 15px;
  font-weight: lighter;
}
.itemTitle {
  font-size: 35px;
}
.overlay {
  background-color: #090a0e;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.4s ease all;
}
.overlay:hover {
  opacity: 0.8;
}
.img-container {
  position: relative;
}

.heart {
  opacity: 0.5;
  transition: 0.3s all ease;
  font-size: larger;
}
.heart:hover {
  color: crimson;
  opacity: 1;
}
.filter {
  background-color: transparent;
  font-size: 20px;
  width: 30%;
  color: white;
  margin-left: 30px;
  padding: 10px 10px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 3px solid white;
  transition: ease 0.4s all;
  margin-top: 50px;
  margin-bottom: 50px;
}
option {
  color: white;
  padding: 10px 10px;
  background-color: #090a0e;
  border: 0;
}
select:focus {
  border-bottom: 3px solid white;
  outline: 0;
}
select:hover {
  background-color: #101218;
}
.playBttn {
  bottom: 40%;
  position: absolute;
  font-size: 10rem;
  color: #ff0044;
}
/* .detailsBttn{
  position: absolute;
  bottom: 10%;
  left: 25%;
} */
/* .socialMedia{
position: absolute; left: 5%;
bottom: 05%;
font-size: 2.5rem;
}
.icon{
  margin-bottom: 20px;
} */
