.body {
  height: 100vh;
  background-color: brown;
}
.siderBody {
  background-color: #1a1c1e;
  width: 20%;
  height: 100vh;
  position: fixed;
  transition: width ease-in 0.2s;
  border-radius: 5px;
}
.siderBody-inactive {
  background-color: #1a1c1e;
  width: 5%;
  height: 100vh;
  position: fixed;
  transition: width ease 0.2s;
  border-radius: 5px;
}
ul {
  /* background-color: chocolate; */
  height: 100vh;
  /* margin-left: 10px; */
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
}
.side-item {
  background-color: transparent;
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px;
  transition: all ease 0.2s;
  /* background-color: aqua; */
}
.side-item:hover {
  background-color: chartreuse;
}
.side-item-inactive {
  background-color: transparent;

  margin-top: 30px;
  border-radius: 10px;
  padding: 10px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  transition: all ease 0.2s;
}
.side-item span {
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: #7780b1;

  transition: all ease 0.75s;
}
.side-item-inactive span {
  font-size: 30px;

  margin-right: 10px;
  text-decoration: none;
  color: #7780b1;

  border-radius: 10px;
  padding: 10px;
  transition: all ease 0.75s;
}
.side-item-inactive span:hover {
  background-color: brown;
}
.side-item a {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 20px;
  color: #7780b1;
  font-weight: 400;

  position: absolute;

  display: inline-block;
  line-height: 40px;
  opacity: 1;
  transition: opacity ease 0.2s;
}
.side-item-inactive a {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 20px;
  color: #7780b1;
  font-weight: 400;

  position: absolute;

  display: inline-block;
  line-height: 40px;
  opacity: 0;
  transition: opacity ease 0.2s;
}
.side-btn {
  background-color: transparent;
  height: 80px;
  width: 100%;
  padding: 10px;
}
.side-btn button {
  background-color: black;
  font-size: 30px;
  background-color: white;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}
